@page "/LancelotGame"
@inject HttpClient http
@inject PlayerManager Player
@inject BulletManager Bullet
@inject EnemiesManager Enemies
@inject GameStateManager gameStateManager

<p>@PlayerManager.BulletCount</p>

<div class="field" tabindex="0" @onkeydown="Move" 
style="width:@($"{PlayerManager.WIDTH}px");
    height:@($"{PlayerManager.HEIGHT}px");
    background-color:cadetblue;
    position:relative;">

    <div class="player"
    style="width:@($"{gameStateManager.player.Size}px");
        height:@($"{gameStateManager.player.Size}px");
        transform:translate(@($"{gameStateManager.player.X}px, {gameStateManager.player.Y}px"));
        position:absolute;">
        <img class="player_face" src="/img/Lancelot-alfa.png" alt="Alternate Text" style="width:@($"{gameStateManager.player.Size}px");height:@($"{gameStateManager.player.Size}px");" />
    </div>

    @foreach (var bullet in gameStateManager.bullets)
    {
        <div class="bullet" 
        style="width:20px;
            height:20px;
            transform:translate(@($"{bullet.X}px,{bullet.Y}px"));
            position:absolute;">
        <img src="/img/Bullet.png" alt="Alternate Text" style="width:30px;height:20px;"/>
        </div>
    }

    @foreach (var enemy in gameStateManager.enemies)
    {
        <div class="enemy" 
        style="width:@($"{enemy.Size}px");
                height:@($"{enemy.Size}px");
                position:absolute;
                transform:translate(@($"{enemy.X}px, {enemy.Y}px"));">
            <img src="/img/Glazgo.png" alt="Alternate Text" style="width:@($"{enemy.Size}px");height:@($"{enemy.Size}px");" />
        </div>
    }
</div>

@code{
    private bool Sub;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Enemies.AddEnemy();

        if (firstRender && !Sub)
        {
            gameStateManager.UpdateState += StateHasChanged;
            Sub = true;
        }
    }

    private async Task Move(KeyboardEventArgs e)
    {
        await Player.Move(e);    
    }
}