@page "/Game"
@inject PlayerManager playerManager
@inject BulletManager bulletManager
@inject GameRenderer render 
@using SkiaSharp
@using SkiaSharp.Views.Blazor

<div class="field d-flex justify-content-center">
    <SKCanvasView Width="@PlayerManager.WIDTH" Height="@PlayerManager.HEIGHT" OnPaintSurface="OnPaintSurface" @ref="_refCanvas" tabindex="0" @onkeydown="Move" @onkeyup="StopMove" />
</div>

@code{
    SKCanvasView? _refCanvas;

    protected override async Task OnInitializedAsync()
    {
        await render.LoadResources();
        _ = GameLoop();
    }

    private void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        using var canvas = e.Surface.Canvas;

        render.Render(canvas);
    }

    private async Task GameLoop()
    {
        var LastUpdateTime = DateTime.Now;

        while (true)
        {
            var CurrentTime = DateTime.Now;
            var DeltaTime = (CurrentTime - LastUpdateTime).TotalSeconds;

            playerManager.DirectionOfMovement(playerManager._direction);

            bulletManager.UpdateBulletPosition();

            render.UpdateBackground();

            _refCanvas?.Invalidate();

            LastUpdateTime = DateTime.Now;

            await Task.Delay(16);
        }    
    }

    private void Move(KeyboardEventArgs e)
    {
         playerManager.Move(e);
    }

    private void StopMove()
    {
       playerManager.StopMove();
    }
}
