@page "/LancelotGame"
@inject HttpClient http

<p>@BulletCount</p>

<div class="field" @ref="Reference" tabindex="0" @onkeydown="Move" 
style="width:@($"{WIDTH}px");
    height:@($"{HEIGHT}px");
    background-color:cadetblue;
    position:relative;">

    <div class="player" 
    style="width:@($"{player.Size}px");
        height:@($"{player.Size}px");
        background-color:beige;
        transform:translate(@($"{player.X}px, {player.Y}px"));
        position:absolute;">
    </div>

    @foreach (var bullet in bullets)
    {
        <div class="bullet" 
        style="width:5px;
            height:5px;
            background-color:blueviolet;
            transform:translate(@($"{bullet.X}px,{bullet.Y}px"));
            position:absolute;">
        </div>
    }

    @foreach (var enemy in enemies)
    {
        <div class="enemy" 
        style="width:@($"{enemy.Size}px");
                height:@($"{enemy.Size}px");
                position:absolute;
                background-color:black;
                transform:translate(@($"{enemy.X}px, {enemy.Y}px"));">
        </div>
    }
</div>



@code {
    const int WIDTH = 500;
    const int HEIGHT = 500;
    const int BULLETCOUNT = 20;
    ElementReference Reference;

    private Task _isRecharge;
    Player player = new();
    List<Bullets> bullets = new();
    List<Enemy> enemies = new();
    static DateTime LastShot = DateTime.MinValue;
    static int BulletCount = BULLETCOUNT;


    protected override async void OnAfterRender(bool firstRender)
    {
        await AddEnemy();

        if (firstRender)
        {
            await Reference.FocusAsync();
        }
    }

    private async Task Move(KeyboardEventArgs e)
    {
        switch (e.Key.ToLower())
        {
            case "w":
                if(player.Y > 0)  player.Y -= player.Speed;
                break;
            case "a":
                if (player.X > 0) player.X -= player.Speed;
                break;
            case "s":
                if (player.Y + player.Size < HEIGHT) player.Y += player.Speed;
                break;
            case "d":
                if (player.X + player.Size < WIDTH) player.X += player.Speed;
                break;
            case " ":
                if (BulletCount > 0 && BulletCount <= BULLETCOUNT)
                    await Shot();
                break;
            case "r":
                await StartRecharge();
                break;
        }
        StateHasChanged();
    }

    private async Task Shot()
    {
        if (DateTime.Now - LastShot < TimeSpan.FromMilliseconds(100))
        {
            return;
        }
        LastShot = DateTime.Now;

        BulletCount--;
        var bullet = new Bullets
            {
                X = player.X + player.Size / 2,
                Y = player.Y + player.Size / 2,
                IsAlive = true,
                Speed = 12,
            };
        bullets.Add(bullet);


        while (bullet.IsAlive)
        {
            bullet.X += bullet.Speed;

            IsCollision(bullet);

            await Task.Delay(16);

            if (bullet.X > WIDTH)
            {
                bullet.IsAlive = false;
            }
            StateHasChanged();
        }

        bullets.RemoveAll(a => !a.IsAlive);
    }

    private Task StartRecharge()
    {
        if (_isRecharge == null || _isRecharge.IsCompleted)
        {
            _isRecharge = Recharge();    
        }
        return _isRecharge;
    }

    private async Task Recharge()
    {
        if (BulletCount < BULLETCOUNT)
        {
            for (int i = 0; i < BulletCount; i++)
            {
                if (BulletCount >= BULLETCOUNT)
                    break;

                await Task.Delay(200);
                BulletCount++;
                StateHasChanged();
            }    
        }    
    }

    private async Task AddEnemy()
    {
        await Task.Delay(3000);

        Random rndPosition = new Random();

        var enemy = new Enemy
            {
                X = rndPosition.Next(250,450), 
                Y = rndPosition.Next(0, 450),
                Size = 50,
                HitPoint = 3,
                IsAlive = true
            };
        if (enemies.Count < 3)
            enemies.Add(enemy);
    }

    private void IsCollision(Bullets bullet)
    {
        foreach (var enemy in enemies)
        {
            if (bullet.X < enemy.X + enemy.Size &&
                bullet.X + 5 > enemy.X &&
                bullet.Y < enemy.Y + enemy.Size &&
                bullet.Y + 5 > enemy.Y)
            {
                bullet.IsAlive = false;

                if (enemy.HitPoint > 0)
                {
                    enemy.HitPoint--;
                }
                if (enemy.HitPoint <= 0)
                {
                    enemy.IsAlive = false;    
                }
            }
        }
        enemies.RemoveAll(e => !e.IsAlive);
    }

}
