@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Lancelot</a>
        </div>
    </nav>
</header>
<main>
    @Body
</main>
<footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3">
        © 2020 Copyright:
        <a class="text-body" href="#">Top5GayPorn.com</a>
    </div>
</footer>